@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 29px;

}
/* player css */
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
    
.player-name{
    margin-left: 16px;
}
/* blog section */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
    
}
.blog-aurthor{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-aurthor a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* course styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course{
    width: 252.42px;
    height: 267.79px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 12px;
    

}
.course .course-banner img{
    width: 224px;
    height: 104px;
    margin-left: 12px;
    
}
.course-details{
    margin-left: 12px;
}
.course-info{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#line1{
    margin-bottom: 0;
    margin-top: 17px;
}
#line2{
    margin-top: 5px;
    margin-bottom: 0;
}
.course-author{
    margin-top: 7px;
    margin-bottom: 19px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #d6cfbd;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 3px 10px;
    color: #FF4A60;
}

/* Responsive for smart phone */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;

    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title, .players, .blogs{
        margin-left: 5%;
    }
    
    
    
}
/* Responsive for smart phone */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .section-title{
        margin-left: 15px;
    }
    .players{
        margin-left: 40px;

    }
    .blogs{
        margin-left: 30px;
        grid-column-gap: 10px;
    }
    .blog{
        align-items: center;
    }
    .courses{
        margin-left: 60px;
    }
    
    .courses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }

}